body {
  color: #2c2f33;
  background-color: #eaeaea;
  font-family: "Roboto";
}

span {
  color: #0088dd;
}

header {
  color: #0088dd;
  background-color: #eaeaea;
}

footer {
  color: #eaeaea;
  background-color: #2c2f33;
}

footer a {
  color: #0088dd;
}

.logo {
  font-size: 30px;
}
