body {
  color: #2c2f33;
  background-color: #ffffff;
  font-family: "Roboto" sans-serif monospace;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.body {
  padding: 15px;
}

span {
  color: #0088dd;
}

header {
  color: #0088dd;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  color: #eaeaea;
  background-color: #2c2f33;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

a {
  color: #0088dd;
}

.logo {
  font-size: 30px;
}

.isolated-box {
  background-color: #eaeaea;
  color: #00aaff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.button {
  background-color: #00aaff;
  color: #eaeaea;
  padding: 5px;
  border-radius: 5px;
  
}
