body {
  color: #2c2f33;
  background-color: #eaeaea;
  font-family: "Roboto";
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

span {
  color: #0088dd;
}

header {
  color: #0088dd;
  background-color: #eaeaea;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  color: #eaeaea;
  background-color: #2c2f33;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

a {
  color: #0088dd;
}

.logo {
  font-size: 30px;
}

.isolated-box {
  background-color: #8c8c8c;
  color: #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}
